.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: 900px; }
  .grid-container.center--vertical {
    align-items: center; }

.col-3 {
  grid-column: span 3; }

.col-4 {
  grid-column: span 4; }

.col-5 {
  grid-column: span 5; }

.col-6 {
  grid-column: span 6; }

.col-7 {
  grid-column: span 7; }

.col-12 {
  grid-column: span 12; }

@media only screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0; }
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-12 {
    grid-column: 1 / -1; } }

* {
  box-sizing: border-box; }

body {
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  padding: 0; }

.overlay {
  background: linear-gradient(black, rgba(0, 0, 0, 0));
  height: 100vh;
  left: 0;
  min-height: 590px;
  position: absolute;
  top: 0;
  width: 100%; }

.arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); }

.arrow img {
  margin: 0;
  width: 25px; }

.hero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  min-height: 590px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative; }
  .hero .container {
    max-width: 1024px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%; }
  .hero .header {
    margin-bottom: 50px;
    text-align: left; }
    .hero .header p {
      color: #FFF;
      font-size: 16px;
      line-height: 23px; }

.ticker {
  background-color: rgba(0, 0, 0, 0.8);
  height: 50px;
  padding: 0 20px;
  position: fixed;
  top: -50px;
  transition: top 0.5s ease;
  width: 100%;
  z-index: 91;
  overflow: hidden; }
  .ticker.active {
    top: 0; }
  .ticker p {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-align: center; }

hr {
  border-bottom: none;
  border-color: #FFF; }
  hr.black {
    border-color: #000; }

#narrative {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

#map {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%; }
  #map.unpin {
    position: relative; }

#sections {
  position: relative;
  z-index: 90; }

.main {
  padding-top: 30px;
  display: flex;
  flex-flow: column; }
  .main section {
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF;
    align-self: flex-end;
    padding: 30px;
    margin-right: 50px;
    margin-bottom: 300px;
    height: 300px;
    width: 40%; }
    .main section img {
      width: 100%; }

.step {
  margin-top: 100px;
  width: 50%; }

.icon {
  border: 2px solid #000;
  display: inline-block;
  height: 16px;
  margin-right: 10px;
  vertical-align: -4px;
  width: 16px; }

article {
  margin: 50px 0; }

.slideshow {
  margin-left: 24px;
  margin-top: 40px; }
  .slideshow .slick-dots {
    bottom: -15px; }
    .slideshow .slick-dots li {
      margin: 0; }
      .slideshow .slick-dots li button:before {
        font-size: 10px; }
  .slideshow .slick-slide img {
    margin-bottom: 5px; }

.slick-prev:before, .slick-next:before {
  color: black; }

.slideshow .slide-caption,
.photo-credit {
  color: #777;
  font-size: 11px;
  font-style: italic; }

.photo-credit {
  bottom: 0;
  color: #FFF;
  font-size: 11px;
  left: 20px;
  position: absolute; }

footer {
  background-color: #353535;
  color: #FFF;
  padding: 50px 0; }

.stats {
  list-style-type: none;
  padding: 0;
  margin-right: 20px;
  text-align: right;
  width: 40%; }
  .stats li {
    padding-bottom: 20px; }
  .stats span {
    font-size: 30px;
    font-weight: bold; }

.logos {
  background-color: #252525;
  margin-top: 20px;
  padding: 18px 20px 9px; }
  .logos img {
    margin-left: 40px;
    margin-bottom: 0;
    width: auto; }
  .logos div {
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    max-width: 1024px;
    padding-right: 20px; }
    .logos div > *:first-child {
      margin-left: auto; }

.title {
  text-align: center; }

h1 {
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin: 10px 0 20px; }

h2 {
  border-top: 1px solid #666;
  display: inline-block;
  font-style: italic;
  padding: 20px 50px 0; }

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px; }

h4 {
  font-size: 15px;
  line-height: 20px;
  margin-top: 4px; }

p {
  margin: 0;
  padding: 10px 0; }

a {
  color: #007ce0;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.small {
  color: #888;
  font-size: 11px;
  line-height: 13px;
  padding: 0 20px; }

label {
  color: #FFF;
  text-transform: uppercase; }

.video-container video {
  height: auto;
  margin: 20px 0;
  width: 100%; }

@media only screen and (max-width: 767px) {
  .hero .container {
    width: 85%; }
  .main section {
    align-self: center;
    height: auto;
    margin-right: 0;
    width: 85%; }
  article p {
    padding-right: 20px;
    padding-left: 20px; }
  img.full-width {
    height: auto;
    width: 100%; }
  footer {
    padding: 50px 20px; } }
